@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: antiquewhite;
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 480px;
    max-width: 90%;
    text-align: center;
    background-color: lightcyan;
    border-radius: 10px;
    padding: 1rem;
}

h3 {
    line-height: 1.6;
    font-size: 1.1rem;
}

textarea {
    margin: 1rem 0;
    border: 1px solid #888;
    border-radius: 5px;
    outline: none;
    padding: 1rem;
    height: 100px;
    width: 400px;
    max-width: 90%;
}

.choices {
    display: flex;
    justify-content: space-evenly;
}

.choice {
    font-size: 0.75rem;
    font-weight: 600;
    width: fit-content;
    background-color: mediumaquamarine;
    border-radius: 10px;
    padding: 0.5rem;
}

.choices .highlight {
    background-color: lightcoral;
}